
<div class="container" ng-app="myApp" ng-controller="BlogController as bctrl" align="center" style="color:white;font: bold; background:url(lib/image/blog.jpg) repeat;">
<div ng-show="!loggedIn">
<div class="alert alert-danger fade in">
      You are not logged in.. Please &nbsp; <a href="#/login">Login</a>
        &nbsp; to Create a Forum
         </div><br><br>
         <div class="alert alert-danger fade in">
            Or you can Register yourself by clicking <a href="#/registration">here</a>
            </div>
</div>
<div ng-show="loggedIn">


<form ng-submit="bctrl.submit()">
<h2 style="color:orange; font:italic; font:bold; font-family:Maiandra GD; font-size:50px;">Create Blog</h2><br><br><br>
<div class="form-group" style="font-size:30px; color:navy;">
<input type="text" class="form control" id="blogTitle" ng-model="bctrl.blog.blogTitle" name="blogTitle" placeholder="Enter the Blog Title"/><br><br>
</div><br>
<div class="form-group" style="font-size:30px; color:navy;">
<input type="text" class="form control" id="description" ng-model="bctrl.blog.description" name="description" placeholder="Enter Blog Description"/><br><br>
</div><br><br>
<div class="form-group">
<input type="submit" class="btn btn-success green" value="Create Blog" style="font-size:20px;"/> 
</div>
</form>
</div>
 </div>
