 
           
		   <div class="comments" ng-controller="BlogCommentController as commentctrl">
          <br>    <h3 style="color: grey;font-family:Maiandra GD; text-decoration:underline;font: bold;font-size: 20px;font-style: normal;text-transform: uppercase;float:center;">Comments</h3><br><br>
          <div style="display: block;padding: 10px;border: thin;">
              <ul style="color:black;font: bold;font-size: 15px;font-style: normal;">
               <li ng-repeat="value in fetchComments1">
                <div>
                 <p style="color:red ;font-size: 15px;"><b>{{value.username}}</b></p>
                 <p style="color: black;font-size: 15px;"> {{value.comments}}<p><br>
               </div>
               </li>
              </ul><br><br>
             </div>
              <form name="commentForm" ng-submit="commentctrl.submit(selectedBlog.blog_id)" novalidate>
                <h3 style="color: black;font: bold;font-size: 20px;font-style: normal; font-family:Maiandra GD; text-transform: uppercase;">Add a Comment</h3>
                  <br><textarea ng-model="commentctrl.blogcomment.comments" cols="30" rows="10" required></textarea>
               <br><br>
          <div class="container" align="center">
         		<input type="submit" class="btn btn-primary btn-block" style="width: 400px; align:center;" value="Submit" />
               </div>
                </form>
            </div>