<div class="container" style="position: relative;font-size: 20px;width:100%;  background:url(lib/image/post_job.jpg) repeat;" >
<div ng-show="!loggedIn">
<div class="alert alert-danger fade in">
      You are not logged in.. Please login &nbsp; <a href="#/login"> here</a>
        &nbsp; to view Friend List
         </div>
         
         

</div>

<div ng-show="loggedIn"  >

<h3 style="color:maroon; font:italic; font:bold; font-family:Maiandra GD; font-size:50px; text-align: center;">Your Friends!</h3>
<br><br>

	<table id="search" class="table table-hover table-condensed">
    				<thead>
						<tr>
						<th style="width:10%">is_Online</th>
							<th style="width:10%">Name</th>
							<th style="width:10%">Address</th>
							<th style="width:10%">EmailId</th>
							
							<th style="width:10%" class="text-center">Mobile</th>
							<th style="width:13%"></th>
						</tr>
					</thead>
					<tbody ng-app="myApp" >
					<!-- <tr><td>{{selectedAccepted}}</td></tr> -->
					<!-- <tr><td><a href="#" ng-click="ctrl.fetchAllAcceptedFriends()">Click here</a></td></tr> -->
						<tr ng-repeat="selectedfriends in selectedAccepted" >
						<td data-th="isOnline">{{selectedfriends.isonline}}
								<!-- <input type="number" class="form-control text-center" value="1"> -->
								<!-- <div ng-show="selectedfriends.isonline=='Y'" >
								<input type="radio" name="isonline" style="background-color: green;">
								
								</div> -->
							</td>
							<td data-th="Name">
								{{selectedfriends.name}}
							</td>
							<td data-th="Address" >{{selectedfriends.address}}  </td>
							<td data-th="EmailId">{{selectedfriends.email}}
								<!-- <input type="number" class="form-control text-center" value="1"> -->
							</td>
							
							<td data-th="Mobile" class="text-center">{{selectedfriends.mobile}}</td>
							
							<td class="actions" data-th="" ng-controller="ChatController as ctrl">
								<!-- <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button> -->
								
								<!-- <a ng-href="#/chat" ng-click="ctrl.friendName(selectedfriends.name)" >Chat</a> -->	
								<a ng-href="#/chat" >Chat</a>							
							</td>
						</tr>
					</tbody>
					
				</table>
				</div>
</div>