

<div class="container" style="position: relative;font-size: 20px;width:100%; background:url(lib/image/post_job.jpg) repeat;">
<div ng-show="!loggedIn">
<div class="alert alert-danger fade in">
      You are not logged in.. Please login &nbsp; <a href="#/login"> here</a>
        &nbsp; to View Friend Details
         </div>
         
         <div>
            If you are not  register , you can register <a href="#/registration">here</a>
            </div>

</div>

<div ng-show="loggedIn">
	<table id="search" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:10%">Name</th>
							<th style="width:10%">Address</th>
							<th style="width:10%">EmailId</th>
							<th style="width:10%" class="text-center">Mobile</th>
							<th style="width:13%"></th>
						</tr>
					</thead>
					<tbody ng-app="myApp" ng-controller="FriendController as ctrl">
						<tr ng-repeat="friend in ctrl.friends" >
							<td data-th="Name">
								{{friend.name}}
							</td>
							<td data-th="Address" >{{friend.address}}</td>
							<td data-th="EmailId">{{friend.email}}
								<!-- <input type="number" class="form-control text-center" value="1"> -->
							</td>
							<td data-th="Mobile" class="text-center">{{friend.mobile}}</td>
							<!-- <td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<a href="#" ng-click="ctrl.friendRequest(user.username)">Send Request</a>								
							</td> -->
						</tr>
					</tbody>
					
				</table>
				</div>
</div>