<div class="container" style="position: relative;font-size: 20px;width:100%;  background:url(lib/image/post_job.jpg) repeat;" >
<div ng-show="!loggedIn">
<div class="alert alert-danger fade in">
      You are not logged in.. Please login &nbsp; <a href="#/login"> here</a>
        &nbsp; to View Pending Friend Request
         </div>
         
         

</div>

<div ng-show="loggedIn">

<h3 style="color:maroon; font:italic; font:bold; font-family:Maiandra GD; font-size:50px; text-align: center;">Pending Requests!</h3>
<br><br>

	<table id="search" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:30%">Name</th>
							<th style="width:10%">Address</th>
							<th style="width:10%">EmailId</th>
							<th style="width:10%">Is_Online</th>
							<th style="width:10%" class="text-center">Mobile</th>
							<th style="width:13%"></th>
							<th style="width:13%"></th>
						</tr>
					</thead>
					<tbody ng-app="myApp" ng-controller="FriendController as ctrl">
					
					
						<tr ng-repeat="friend in selectedPending" >
							<td data-th="Name">
								{{friend.username}}
								
							</td>
							<td data-th="Address" >{{friend.address}}</td>
							<td data-th="EmailId">{{friend.email}}
								<!-- <input type="number" class="form-control text-center" value="1"> -->
							</td>
							<td data-th="Is_Online">{{friend.isonline}}
								<!-- <input type="number" class="form-control text-center" value="1"> -->
							</td>
							<td data-th="Mobile" class="text-center">{{friend.mobile}}</td>
							<td class="actions" data-th="">
								<!-- <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button> -->
								<a href="#" ng-click="ctrl.accept(friend.username)">Accept Request</a>								
							</td>
							<td class="actions" data-th="">
								<!-- <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button> -->
								<a href="#" ng-click="ctrl.reject(friend.username)">Reject Request</a>								
							</td>
						</tr>
					</tbody>
					
				</table>
				</div>
</div>