<div class="container" ng-app="myApp" ng-controller="JobController as ctrl" style="background:url(lib/image/post_job.jpg) repeat;">
	<h2 style="color:maroon; align:centre; font:italic; font:bold; font-family:Maiandra GD; font-size:50px; text-align:center;">Jobs Available</h2><br>
	
	<div class="row">
		
	<div class="center-block"></div>
	
	
	<div ng-repeat="job in AllJobs | filter:searchString"><!-- ng-repeat -->
	<section class="featured-jobs">
    <div class="container">
		
		<div class="row">

				<!-- first feature job -->
				<div class="col-sm-6 col-md-4">
					
						<div class="thumbnail" style="font-size: 5px;">
								<p style="font-size: 15px;color:black;font:bold">Job Id:  {{job.jobid}}</p> 
								<a href="#/viewJobdetails" class="btn btn-primary" role="button" ng-click="ctrl.getJobDetails(job.jobid)"><span class="glyphicon glyphicon-file"></span> View Details</a>
								<a href="" class="feature-link"><h3 style="font:italic; font:bold; font-family:Maiandra GD; font-size:20px;">{{job.job_title}}</h3></a>
								<p style="font-size: 15px;color:black;">Qualification: {{job.qualification}}</p>
								<span class="meta" style="font-size: 15px;color:black;">Posted on: {{job.date_time|date}}</span>
								<div class="feature-btns">
								
								 <a href="#" class="btn btn-warning" role="button" ng-click="ctrl.applyForJob(job.jobid)"> Apply For Job</a><!-- <span class="glyphicon glyphicon-star-empty"></span> -->
								 </div>
						</div>
					
				</div>

			

			</div>
		
	</div>
</section>
	
	</div>
	</div>
</div>