

<div ng-app="myApp" ng-controller="ForumController as ctrl" style="background:url(lib/image/registeration.jpg) repeat;">
     
     <h2 style="color:maroon; align:centre; font:italic; font:bold; font-family:Maiandra GD; font-size:50px; text-align:center;">Forum Created</h2>
      <div class="content">
        <div class="container">
          <div class="row" style=" margin: 20px 0 20px 0;
    padding: 20px;">
       
            <ul class="post-grid">
          <li ng-repeat="forum in ctrl.forums" class="col-s-4"  ng-class="{ 'reset-s' : $index%3==0 }"  >
           <div >
            <a ng-href="#/viewforum" ng-click="ctrl.getSelectedForum(forum.forum_id)" style="margin-top: 20px;padding-top: 20px;font-size: 30px;font:bold;color: blue;">
           <div style="text-transform: uppercase;"> <b>{{forum.forum_topic}}</b></div>
            
             </a><br>
            <cite style="color:black;font:bold;"><b>Posted By:{{forum.username}}</b></cite><br><br><br>
            <p style="color:black;">{{forum.forum_question | limitTo:70}}...</p>
            <a ng-href="#/viewforum" ng-click="ctrl.getSelectedForum(forum.forum_id)">Read More</a><br><br> <!-- ng-click="ctrl.getSelectedBlog(blog.blogid)" -->
           
             </div>
          </li>
         
        </ul>   
          </div>
         
        </div>
        
    </div>
     </div>